
body  {
  min-width: 960px;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  background: #111 url("../img/background.jpg") no-repeat center top;
}
/*изображения не будут выходить за установленные ширины при добавлении картинок*/
img  {
  max-width: 100%;
  height: auto;
}
h2  {
  font-size: 30px;
  line-height: 42px;
}
h3  {
  font-size: 24px;
  line-height: 30px;
}

.clearfix::after  {
content: "";
display: table;
clear: both;
}
.main-header  {
margin-bottom: 60px;
background: #000;
color: #fff;
}
.main-navigation {
float: left;
width: 780px;
}
.main-navigation ul {
font-size: 0;
margin: 0;
padding: 0;
list-style: none;

}
.main-navigation li {
font-size: 16px;
line-height: 22px;
display: inline-block;
vertical-align: top;

}
.main-navigation a  {
color: #fff;
height: 22px;
text-decoration: none;
display: block;
padding: 25px 20px;
}
.main-navigation a:hover  {
background-color: #242424;
}
.main-navigation .active  {
position: relative;
background: none;
}
.main-navigation .active span  {
display: block;
padding: 25px 20px;
}
.main-navigation .active a:hover  {
background: none;
}
/*если абсолютному элементу явно не задавать ширину, и задать с противоположных сторон одинаковые координаты, то он растянется на всю ширину родительского элемента и будет отталкиваться координатами от него (полоса под активным меню)*/
.main-navigation .active::after  {
content: "";
position: absolute;
right: 20px;
bottom: 0;
left: 20px;
height: 5px;
background-color: #fff;
}
.page-logo a:hover  {
background: none;
}
.login  {
font-size: 16px;
line-height: 22px;
color: #fff;
display: inline-block;
vertical-align: top;
padding: 25px 20px 25px 50px;
position: relative;
text-decoration: none;
}
.login::before  {
content: "";
position: absolute;
top: 25px;
left: 15px;
width: 18px;
height: 18px;
background-repeat: no-repeat;
background-position: 1px 3px;
background-image: url("../img/icon-login.png");
background-color: transparent;
opacity: 0.4;
}
.login:hover  {
background: #242424;
}
.login:hover::before  {
opacity: 1;
}
.container  {
width: 940px;
padding: 0 10px;
margin: 0 auto;
}
.main-navigation  {
width: 780px;
min-height: 72px;/*защита от перполнения контентом*/
float: left;
}
.user-block  {
min-height: 72px;
width: 140px;
float: right;
}
.main-logo  {
width: 368px;
height: 204px;
margin: 0 auto;
margin-bottom: 25px;
}
.main-logo img  {
width: 368px;
height: 204px;
}
.features  {
margin-bottom: 80px;
}
.features-item  {
width: 300px;
margin-right: 20px;
text-align: center;
float: left;
}
.features-item:last-child  {
margin-right: 0;
}
.features-item p  {
margin: 10px;
margin-bottom: 0;
}
.features-name  {
display: block;
font-size: 30px;
line-height: 42px;
margin-bottom: 30px;
padding-bottom: 40px;
position: relative;
}
.features-name::after  {
content: "";
width: 20px;
height: 20px;
background: #fff;
position: absolute;
bottom: 0;
left: 50%;
margin-left: -10px;
transform: rotate(45deg);
display: block;

}
.index-content  {
background: #f8f5f2 url("../img/index-content-layer.jpg");
color: #000;
padding: 50px 80px;
margin-bottom: 35px;
}
.index-content-left  {
float: left;
width: 380px;
}
.index-content-right  {
float: right;
width: 300px;
}
.index-content-title  {
margin: 0;
margin-bottom: 25px;
}
.index-content p  {
margin: 0 0 25px;
}
.news-preview  {
margin: 0;
padding:0;
padding-right: 45px;
list-style: none;
}
.news-preview li  {
margin-bottom: 25px;
}
.news-preview p  {
margin-bottom: 0;
}
.news-preview time  {
text-transform: none;
font-weight: 400;
}
.btn  {
display: inline-block;
padding:10px 33px;
margin-right:16px;
font-weight:700;
font-size: 14px;
line-height: 24px;
font-family: "PT Sans Narrow", "Arial", sans-serif;
color: #fff;
text-align: center;
text-transform: uppercase;
text-decoration: none;
vertical-align: top;
background: #000;
border: none;
outline: none;
cursor: pointer;
}
.btn:hover,
.btn:active  {
background-color: #663d15;
}
.gallery  {
position: relative;
height: 260px;
}
.gallery-content  {
height: 164px;
margin: 0;
background-color: #ccc;
border: 7px solid #fff;
}
.gallery-content img  {
width: 286px;
height: 164px;
}
.gallery .btn  {
position: absolute;
bottom: 0;
width: 140px;
margin: 0;
}
.gallery-prev  {
left: 0;
}
.gallery-next  {
right: 0;
}
.appointment-form input  {
float: left;
width: 106px;
margin-right: 20px;
margin-bottom: 20px;
padding: 7px 15px;
font-size: 14px;/*inherit взял бы данные из родительского блока*/
line-height: 24px;
font-weight: inherit;
font-family: "PT Sans Narrow", "Arial", sans-serif;
color: #000;
text-transform: uppercase;
background-color: #f9f6f3;
border: 2px solid #000;
outline: none;
}
.appointment-form input:nth-child(2n)  {
margin-right: 0;
}
.appointment-form .btn  {
clear: both;
width: 100%;
}
.appointment-form input:focus  {
border: 2px solid #663d15;
}
.item-content  {
width: 390px;
margin-left: 60px;
padding-left: 10px;
font-size: 14px;
vertical-align: top;
display: inline-block;
}
/*Стилизация внутренних страниц*/
.inner-page  {
  background: #f8f3f0 url("../img/white-pattern.jpg") repeat;
  color: #000;
}
.inner-page .main-header  {
  margin-bottom: 55px;
}
.inner-page-head  {
margin-bottom: 55px;
}
.inner-page-head  h2  {
margin: 0;
margin-bottom: 25px;
padding: 0;
font-size: 30px;
line-height: 42px;
}
.inner-content h3 {
margin-top: 60px;
margin-bottom: 30px;
padding: 0;
  font-size: 24px;
  line-height: 30px;
}
.inner-content p  {
  margin: 14px 0;
}
.breadcrumbs  {
  margin: 0;
  padding: 0;
  list-style: none;
}
.breadcrumbs  li  {
  position: relative;
  display: inline;
  padding-right: 40px;
}
.breadcrumbs a  {
  color: #000;
  text-decoration: none;
}
.breadcrumbs a:hover  {
  text-decoration: underline;
}
.breadcrumbs .current  {
  color: #aba9a7;
}
.breadcrumbs li::after  {
  content: "";
  background-color: #000;
  position: absolute;
  top: 5px;
  right: 16px;
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
}
.breadcrumbs .current::after  {
  content: none;
}
.big-heading  {
  margin-top: 55px;
  margin-bottom: 65px;
  text-align: center;
}
.big-heading b  {
  display: inline-block;
  position: relative;
  margin: 0;
  background-image: url("../img/white-pattern.jpg");
  padding: 0 25px;
  font-size: 48px;
  z-index: 2;
  line-height: 48px;
}
.big-heading::after {
  content: "";
  display: block;
  position: relative;
  top: -25px;
  z-index: 1;
  border-bottom: 2px solid #000;
}
.custom-list-1  {
  margin: 14px 0;
  padding: 0;
  list-style: none;
}
.custom-list-1 li  {
  position: relative;
  padding-left: 20px;
  padding-bottom: 15px;
}
.custom-list-1 li::before  {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  background-color: #000;
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
}

.inner-content table  {
  margin-bottom: 60px;
  border-collapse: collapse;
  table-layout: fixed;
}
.inner-content td  {
  padding: 10px 15px;
  width: 230px;
  border: 2px solid #000;
}
.prices-table  {
  width: 100%;
}
.prices-table td {
  width: 50%;
}
.prices-table td:last-child  {
  text-align: center;
}
.short-text  {
  padding-right: 30px;
}
/*Колонки для макета*/
.inner-colums  {
  margin-top: 60px;
}
.inner-colums-left,
.inner-colums-right  {
  width: 410px;
}
/*при применении float у нас margin стали суммироваться поэтому внутри колонок у каждого первого элемента ставим нулевой margin*/
.inner-colums-left *:first-child,
.inner-colums-right *:first-child  {
  margin-top: 0;
}
.inner-colums-left *:last-child,
.inner-colums-right *:last-child  {
  margin-bottom: 0;
}
.inner-colums-left  {
  float: left;
}
.inner-colums-right  {
  float: right;
}
/* форма товаров */
.inner-colums-left--shop-form  {
  width: 220px;
  float: left;
}
.inner-colums-left--shop-form h3  {
  margin-top: 0;
  margin-bottom: 30px;
}
.manufacturers,
.product-groups  {
  border: none;
  padding: 0;
  margin: 0 0 30px;
}
/*Стилизация checkbox*/
.shop-checkbox  {
  position: relative;
  padding-left: 40px;
  line-height: 40px;
  cursor: pointer;
  display: block;
}
.shop-checkbox input[type="checkbox"]  {
  display: none;
}
.shop-checkbox input[type="checkbox"] +.checkbox-indicator  {
  position: absolute;
  top: 6px;
  left: 0;
  width: 17px;
  height: 17px;
  border: 2px solid #000;
}
.shop-checkbox input[type="checkbox"]:checked +.checkbox-indicator::before,
.shop-checkbox input[type="checkbox"]:checked +.checkbox-indicator::after  {
  content: "";
  position: absolute;
  top:8px;
  left: 1px;
  width: 15px;
  height: 2px;
  background-color: #000;
}
.shop-checkbox input[type="checkbox"]:checked +.checkbox-indicator::before  {
  transform: rotate(45deg);
}
.shop-checkbox input[type="checkbox"]:checked +.checkbox-indicator::after  {
  transform: rotate(-45deg);
}
.shop-checkbox:hover,
.shop-checkbox:focus  {
  color: #663d15;
}
/*Стилизация radiobutton*/
.shop-radiobutton {
  display: none;
}
.product-groups label  {
  display: block;
  line-height: 40px;
}
.shop-radiobutton + label {
 
  cursor: pointer;
}
.shop-radiobutton + label {
  position: relative;
  padding: 0 0 0 40px;
}
.shop-radiobutton + label:before {
  content: '';
  position: absolute;
  top: 9px;
  left: 0;
  width: 18px;
  height: 18px;
  border: 2px solid #000;
  border-radius: 50%;
  background: #FFF;
}
.shop-radiobutton + label:after {
  content: '';
  position: absolute;
  top: 13px;
  left: 4px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #000;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.5);
  opacity: 0;
  transition: all .2s;
}
.shop-radiobutton:checked + label:after {
  opacity: 1;
}
.shop-radiobutton + label:hover {
  color: #663d15;
  
}

/*каталог товаров*/
.inner-colums-right--shop-catalog  {
  width: 720px;
  font-size: 0;
  float: left;
  margin-top: 20px;
 }
.inner-colums-right--shop-catalog:nth-child(2)  {
  margin-top: 0;
}
.shop-item  {
  width: 220px;
  height: 286px;
  margin-left: 20px;
  font-size: 14px;
  position: relative;
  background-color: #fff;
  display: inline-block;
  vertical-align: top;
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.3);
}
.shop-item-link  {
  color: #000;
  text-decoration: none;
}
.shop-item-link:hover  {
  text-decoration: underline;
}
.shop-category  {
  text-transform: none;
}
.shop-category,
.product-name  {
  padding-left: 16px;
}
.item-order  {
  width: 186px;
  position: absolute;
  bottom: 15px;
  left: 16px;
  font-size: 0;
}
.unit-price  {
  background-color: #e5e5e5;
  display: inline-block;
  padding-top: 10px;
  padding-right: 28px;
  padding-left: 30px;
  padding-bottom: 10px;
  font-size: 14px;
  line-height: 24px;
}
.item-order .btn  {
  padding: 10px 17px;
  margin: 0;
 }
 /*Страница товара*/
.inner-colums-left--shop-item  {
  float: left;
  width: 460px;
}
.inner-colums-right--shop-item  {
  width: 400px;
  float: right;
  padding-right: 10px;
}
.item-img-photo  {
  display: inline-block;
  padding-top: 12px;
  padding-right: 17px;
}
.inner-colums-left--shop-item img  {
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.3);
}

.item-img-photo:last-child  {
  padding-right: 0;
}
.item-code  {
  margin-bottom: 35px;
}
.vendor-code  {
  padding-left: 185px;
  color: #aba9a7;
}
.item-order__buy  {
  margin-top: 50px;
}
.item-order__buy .btn {
  padding: 10px 17px;
  margin: 0;
}


  
  /*Всплывающие формы*/
.pagination  {
  font-size: 14px;
  margin-left: 15px;
  margin-top: 50px;
  
}
.pagination a  {
  min-width: 43px;
  height: 43px;
  margin-left: 5px;
  background-color: #000;
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  line-height:43px;
  text-decoration: none;
}
.pagination a:hover  {
  background-color: #663d15;
}
.pagination .active  {
  background-color: #fff;
  color: #000;
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.1);
}
.pagination .active:hover  {
  background: #fff;
}
.main-footer  {
  background: #252525 url("../img/footer-bg.jpg");
  color: #fff;
  margin-top: 65px;
  padding-top: 60px;
  padding-bottom: 40px;
}
.footer-contacts  {
  width: 320px;
  margin-right: 60px;
  float: left;
}
.footer-contacts a  {
  color: #fff;
}
.footer-contacts a:hover  {
  text-decoration: none;
}
.footer-social  {
  width: 180px;
  float: left;
  text-align: center;
}
.social-btn  {
  font-size: 0;
  display: inline-block;
  vertical-align: top;
  width: 43px;
  height: 43px;
  margin:0 2px;
  background: #000;
}
.social-btn-vk  {
  background-image: url("../img/v.png");
  background-repeat: no-repeat;
  background-position: center;
}
.social-btn-fb  {
  background-image: url("../img/f.png");
  background-repeat: no-repeat;
  background-position: center;
}
.social-btn-inst  {
  background-image: url("../img/inst.png");
  background-repeat: no-repeat;
  background-position: center;
}
.social-btn-vk:hover  {
  background: #fff url("../img/v-black.png");
  background-repeat: no-repeat;
  background-position: center;
  color: #000;
}
.social-btn-fb:hover  {
  background: #fff url("../img/f-black.png");
  background-repeat: no-repeat;
  background-position: center;
  color: #000;
}
.social-btn-inst:hover  {
  background: #fff url("../img/inst-black.png");
  background-repeat: no-repeat;
  background-position: center;
  color: #000;
}
.footer-social p  {
  margin: 0;
  margin-bottom: 15px;
}

.footer-copyright  {
  text-align: center;
  width: 160px;
  float: right;
  margin-right: 0;
}
.footer-copyright p  {
  margin: 0;
  margin-bottom: 15px;
}
.footer-copyright a  {
  line-height: 43px;
  width: 140px;
  height: 43px;
  background: #000;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}
.footer-copyright a:hover  {
  line-height: 43px;
  width: 140px;
  height: 43px;
  background: #fff;
  color: #000;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
 }
 /*Всплывающая форма*/
.modal-content  {
  position: fixed;
  top: 120px;
  left: 50%;
  margin-left: -230px;
  width: 300px;
  padding: 50px 80px;
  color: #000;
  background: #f8f3f0 url("../img/white-pattern.jpg");
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  display: none;
  z-index: 20;
}
.modal-content-show {
  display: block;
  animation: bounce 0.7s;
}
.modal-content-map  {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -290px;
  margin-left: -390px;
  width: 780px;
  height: 580px;
  display: none;
  background-image: url("../img/map.jpg");
  border: 7px solid #fff;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  z-index: 20;
}
.modal-map-show {
  display: block;
  animation: appearance 1.3s;
}
.modal-overlay  {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: none;
}
@keyframes bounce {
  0% { transform: translateY(-2000px); }
  70% { transform: translateY(50px); }
  90% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}
@keyframes appearance {
  0%  {opacity:0;}
  100% {opacity: 1;}
}
.modal-overlay-show  {
  display: block;
}
.modal-content-close  {
  position: absolute;
  top:0;
  right: -30px;
  width: 22px;
  height: 22px;
  font-size:0;
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}
.modal-content-close::before,
.modal-content-close::after  {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;
  width: 19px;
  height: 3px;
  background-color: #d0d0d0;
  border-radius: 1px;
}
.modal-content-close::before  {
  transform: rotate(45deg);
}
.modal-content-close::after  {
  transform: rotate(-45deg);
}
.modal-content h2  {
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 42px;
}
.modal-content p  {
  margin: 0;
  margin-bottom: 14px;
}
.modal-content .login-form  {
  margin-top: 30px;
  margin-bottom: 10px;
}
.login-form input[type=text],
.login-form input[type=password]  {
  width: 236px;
  margin: 0;
  margin-bottom: 10px;
  padding: 10px 40px 10px 20px;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
  background-color: #f9f6f3;
  border: 2px solid #000;
  outline: none;
}
.login-form input:focus  {
  border-color: #663d15;
}
.icon-user  {
  background-image: url("../img/icon-user.png");
  background-repeat: no-repeat;
  background-position: 95% 15px;
  

}
.icon-password  {
  background-image: url("../img/icon-pass.png");
  background-repeat: no-repeat;
  background-position: 95% 15px;
}
.login-form .restore  {
  float: right;
  color: #000;
}
.login-form .btn  {
  width: 100%;
  margin: 15px 0 0 0;
}
.login-checkbox input[type="checkbox"]  {
  display: none;
}
.login-checkbox  {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}
.login-checkbox input[type="checkbox"] +.checkbox-indicator  {
position: absolute;
top: 0;
left: -0;
width: 17px;
height: 17px;
border: 2px solid #000;
}
.login-checkbox input[type="checkbox"]:checked +.checkbox-indicator::before,
.login-checkbox input[type="checkbox"]:checked +.checkbox-indicator::after  {
content: "";
position: absolute;
top:8px;
left: 1px;
width: 15px;
height: 2px;
background-color: #000;
}
.login-checkbox input[type="checkbox"]:checked +.checkbox-indicator::before  {
transform: rotate(45deg);
}
.login-checkbox input[type="checkbox"]:checked +.checkbox-indicator::after  {
transform: rotate(-45deg);
}
.login-checkbox:hover,
.login-checkbox:focus  {
  color: #663d15;
}






