.downloads {
  outline: 2px solid yellow;
  background-color: #1d2631;
   color: @white;
 }
.downloads__image  {
  padding-top: 0;
  font-size: 0;
  height: 286px;
  width: 258px;
  outline: 2px solid greenyellow ;
}
.downloads__wrapper  {
  outline: 2px solid blueviolet;
  margin-top: 200px;
}