.reviews  {
  min-width: 700px;
  padding: 50px 40px;

  background-color: @white;
  /*outline: 1px solid green;*/
}
.reviews__wrapper  {
  text-align: center;
}
.reviews__name  {
  display: block;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
.reviews__text  {
  margin: 0;
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 28px;
}