
body  {
  width: 1280px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 21px;
  font-family:"PT Sans", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  background: #f2f2f2;
  color: #000;
}
img  {
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}
.clearfix::after  {
  content: "";
  display: table;
  clear: both;
}
.container  {
  width: 1200px;
  padding: 0 40px;
  background: #fff;
  -webkit-box-shadow: 5px 15px 15px 0 rgba(0,0,0,0.2);
  box-shadow: 5px 15px 15px 0 rgba(0,0,0,0.2);
}
.main-header  {
  background: #fff;
  color: #000;
}
.main-navigation  {
  min-width: 1054px;
  min-height: 56px;
  margin: 0 auto;
  padding: 0 73px;
  vertical-align: top;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.main-navigation ul {
  margin: 0;
  padding: 0;
  font-size: 0;
  list-style: none;
}
.main-navigation li  {
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  display: inline-block;
  padding: 15px 0;
  vertical-align: top;
}
.main-navigation-left li {
  padding-right: 144px;
}
.main-navigation-right li  {
  padding-left: 144px;
}
.main-logo  {
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -67px;
}
.main-navigation a  {
  color: #000;
  text-decoration: none;
}
.main-navigation a:hover  {
  color: #81b3d2;
}
.description  {
  padding: 0 280px;
  margin-top: 60px;
  text-align: center;
}
.description h1 {
  font-size: 21px;
  line-height: 26px;
}
.features  {
  margin-top: 55px;
  text-align: center;
}
.features  h2  {
  margin:0;
  margin-bottom: 26px;
  padding: 0 82px;
}
.features p  {
  margin-top: 25px;
  font-size:14px;
  line-height:21px;
  padding: 0 25px;
}
.features-top-hotel,
.conditions,
.features-bottom-canyon,
.features-bottom-list  {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.features-item  {
  max-width: 320px;
  padding: 53px 35px 33px 45px;
  line-height: 21px;
  text-align: center;
}
.features-item.blue  {
  background: #81b3d2;
  color: #fff;
}
.features-item.grey  {
  background: #eee;
  color: #000;
}
.conditions  {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 60px 0;
}
.conditions h2  {
  font-size: 21px;
  line-height:21px;
  margin: 26px 0;
}
.conditions-item  {
  padding: 0 15px;
  width: 370px;
}
.btn  {
  font-size: 21px;
  line-height: 26px;
  font-weight:700;
  font-family: inherit;
  text-transform: inherit;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}
.btn.find-hotel  {
  width: 568px;
  margin: 75px auto 0;
  padding: 30px 0;
  background: #766357;
}
.btn.find-hotel:hover  {
  background: #604e43;
}
.location-content  {
  padding-top: 56px;
  padding-left: 315px;
  padding-right: 315px;
  text-align: center;
}
.location b  {
  font-size: 30px;
  line-height: 42px;
}
.location p  {
  font-size: 14px;
  line-height: 24px;
}
.location-map  {
  width: 1200px;
  height: 476px;
}
/* inner page*/
.form-wrapper  {
  width: 1200px;
  background: #7b9fc2 url("../img/muntain-bg.jpg");
}
.order-form  {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.order-form h3  {
  margin: 0;
  margin-bottom: 10px;
}
.order-form legend  {
  display: inline-block;
  vertical-align: top;
  height: 31px;
}
.order-form fieldset  {
  margin: 0;
  margin-top: 20px;
  padding: 0;
  color: #fff;
  border: none;
  outline: none;
}
.order-form label  {
  display: block;
}
.order-form .infrastructure  {
  margin-left: 73px;
  width: 238px;
}
.order-form .house-type  {
  width: 260px;
}
.order-form .checkbox  {
  display: none;
}
.checkbox + label  {
  cursor: pointer;
  margin-top: 19px;
  margin-bottom: 27px;
  padding-left: 35px;
  position: relative;
}
.checkbox + label::before  {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: -4px;
  background: url("../img/ico-default.png") center no-repeat;
  background-position: 1px 0;
  opacity: 1;
}
.checkbox:checked + label::before  {
  opacity: 0;
}
.checkbox + label::after  {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: -4px;
  background: url("../img/ico-checked.png") center no-repeat;
  background-position: 1px 0;
  opacity: 0;
}
.checkbox:checked + label::after {
  opacity: 1;
}
.order-form .price-range  {
  width: 330px;
  margin-left: auto;
  padding-right: 71px;
}
.price-range h3  {
  font-size: 16px;
  margin-bottom: 10px;
  line-height: 21px;
  font-weight: 700;
}
.price-controls  {
  border: 2px solid #fff;
  border-radius: 3px;
  height: 36px;
  font-size:0;
  position: relative;
}
.price-controls::after  {
  content: "";
  position: absolute;
  top: 50%;
  left: 49%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 2px;
  height: 22px;
  background: #fff;
}
.price-controls label  {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 32px;
  width: 65px;
  padding-left: 65px;
  cursor: pointer;
}
.price-controls input  {
  width: 40px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: transparent;
  border: none;
  outline: none;
}
.range-controls  {
  position: relative;
  margin-bottom: 32px;
}
.range-controls .scale  {
  height: 2px;
  margin-top: 25px;
  background: rgba(255, 255, 255, 0.3);
}
.range-controls .bar  {
  height: 2px;
  width: 80%;
  background: #fff;
}
.range-toggle  {
  position: absolute;
  top: -9px;
  left: -2px;
  width:4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2 );
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2 );
}
.range-toggle:hover  {
  background: #1c4f80;
}
.range-toggle-min  {
  left: -2px;
}
.range-toggle-max  {
  left: 77%;
}

.btn.show-transparent  {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
  background: transparent;
  font-size: 14px;
  line-height: 21px;
  border: 2px solid #fff;
  border-radius: 2px;
}
.page-sort  {
  padding-left: 73px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.page-sort b  {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  width: 135px;
  padding: 32px 0;
  
}
.page-sort ul  {
  padding: 0;
  margin: 0;
  margin-left: 15px;
  font-size: 0;
}
.page-sort li  {
  width: 115px;
  padding: 34px 0;
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  list-style: none;
}
.page-sort a  {
  text-decoration: none;
  color: #cacaca;
  border-bottom: 2px dotted #7b9fc2;
}
.page-sort a:hover  {
  color: #7b9fc2 ;
}
.page-sort a:focus  {
  color: #000;
  border-bottom: none;
}
.triangle  {
  margin-left: 395px;
  margin-right: 73px;
  display: inline-block;
  vertical-align: top;
  padding: 0;
}
.triangle .triangle-up,
.triangle .triangle-down  {
  margin: 39px 5px;
  padding: 0;
  display: inline-block;
  vertical-align: top;
  font-size:0;
}
.triangle .triangle-up  {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 8px solid #cacaca;
}
.triangle .triangle-down  {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 8px solid #cacaca;
  border-bottom: none;
}
.triangle .triangle-up:hover  {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 8px solid #7b9fc2;
}
.triangle .triangle-down:hover  {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 8px solid #7b9fc2;
}
.triangle .triangle-up:focus  {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 8px solid #000;
}
.triangle .triangle-down:focus  {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 8px solid #000;
}
.inner-content  {
  position: relative;
}
.housing  {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.housing::before  {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #e5e5e5;
}
.housing::after  {
  content: "";
  position: absolute;
  top: 450px;
  width: 100%;
  height: 2px;
  background: #e5e5e5;
}
.housing img  {
  margin: 30px 0 30px 73px;
  background: #cacaca;
}
.housing h2  {
  margin: 0;
  margin-top: 27px;
  margin-bottom: 14px;
  padding:0 ;
}
.column-left  {
  margin-left: 15px;
}
.column-left span {
  display: inline-block;
  width: 100px;
}
.column-left .leveling  {
  margin-left: 19px;
}
.btn.details  {
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
  padding: 3px 0;
  width: 110px;
  font-size: 14px;
  line-height: 21px;
  text-align: center;  ;
  text-decoration: none;
  background: #7b9fc2;
}
.btn.details:hover  {
  background: #669ec0;
}
.btn.details:active  {
  opacity: 0.5;
}

.btn.booking  {
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
  margin-left: 8px;
  padding: 3px 0;
  width: 142px;
  font-size: 14px;
  line-height: 21px;
  text-align: center;  ;
  text-decoration: none;
  background: #766357;
}
.btn.booking:hover  {
  background: #604e43;
}
.btn.booking:active  {
  opacity: 0.5;
}
.column-right  {
  margin-left: auto;
  margin-right: 73px;
  margin-top: 93px;
  position: relative;
}
.column-right span  {
  width: 110px;
  padding: 3px 0;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  color: #939393;
  background: #f2f2f2;
}
.rating-hotel::before  {
  position: absolute;
  top: -66px;
  left: -8px;
  content: "";
  width: 90px;
  height: 20px;
  background: url("../img/four-stars.png") center no-repeat;
}
.rating-motel::before  {
  position: absolute;
  top: -66px;
  left: 6px;
  content: "";
  width: 90px;
  height: 20px;
  background: url("../img/three-stars.png") center no-repeat;
}
.rating-apartments::before  {
  position: absolute;
  top: -60px;
  left: 19px;
  content: "";
  width: 90px;
  height: 20px;
  background: url("../img/two-stars.png") center no-repeat;
}
footer .container {
  width: 1054px;
  padding: 36px 113px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}
.footer-contacts  {
  width: 328px;
  margin-left: 62px;
  padding: 11px 0;
}
.footer-contacts span  {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}
.footer-social {
  width: 400px;
  margin-left: 100px;
}
.social-btn  {
  font-size:0;
  width: 46px;
  height: 48px;
  margin: 0 3px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  background:#76b4da;
}
.social-btn::before  {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: url("../img/spritesheet.png") no-repeat;
}
.social-btn-tw::before  {
  width: 17px;
  height: 15px;
  background-position: -8px -189px;
}
.social-btn-fb::before  {
  width: 10px;
  height: 19px;
  background-position: -8px -122px;
}
.social-btn-tube::before  {
  width: 20px;
  height: 16px;
  background-position: -8px -157px;
}
.social-btn-tw:active::before  {
  width: 17px;
  height: 15px;
  background-position: -8px -189px;
  opacity: 0.3;
}
.social-btn-fb:active::before  {
  width: 10px;
  height: 19px;
  background-position: -8px -122px;
  opacity: 0.3;
}
.social-btn-tube:active::before  {
  width: 20px;
  height: 16px;
  background-position: -8px -157px;
  opacity: 0.3;
}
.social-btn-fb:hover,
.social-btn-tube:hover,
.social-btn-tw:hover  {
  background:#669ec0 ;
}
.social-btn-fb:active,
.social-btn-tube:active,
.social-btn-tw:active  {
  background:#5496bd ;
}
.footer-copyright  {
  width: 328px;
  margin-left: 150px;
  display: inline-block;
  vertical-align: top;
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
}
.footer-copyright span  {
  display: inline-block;
  vertical-align: top;
  font-weight: 400;
  padding: 11px 0;
}
.footer-copyright a  {
  display: inline-block;
  margin-left: 15px;
  padding: 11px 0;
  text-decoration: none;
  color: #000;
}
.footer-copyright a:hover  {
  color: #81b3d2;
}
.footer-copyright a:active  {
  opacity: 0.3;
}
.search-form  {
  position: absolute;
  top: 2452px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 458px;
  padding: 50px 55px;
  color: #000;
  background: #fff;
  -webkit-box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  display: none;
 
}
.search-form-show  {
  display: block;
}

.form-calendar span  {
  width: 100px;
  margin-right: 20px;
  display: inline-block;
  vertical-align: center;
  font-family: inherit;
  line-height: 24px;
  font-weight: 700;
}
.form-calendar input[type=text]  {
  width: 279px;
  margin-top: 15px;
  padding: 10px 45px 10px 10px;
  font-size: 14px;
  line-height: 24px;
  font-family: inherit;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: none;
  outline: none;
}
.form-calendar .ico-date  {
  background: url("../img/spritesheet.png") no-repeat 100% 3px;
  cursor: pointer;
}
.form-calendar .ico-date:hover  {
  background-image: url("../img/spritesheet.png");
  background-position: 100% -35px;
  background-repeat: no-repeat;
}
.form-calendar .ico-date:focus  {
  background: url("../img/spritesheet.png") no-repeat 100% -73px;
}
.number-wrapper  {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 15px;
}
.number  {
  font-size: 0;
}
.number span  {
  width: 100px;
  margin-right: 23px;
  padding: 7px 0;
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  font-family: inherit;
  line-height: 24px;
  font-weight: 700;
}
.number .short  {
  width: 60px;
  margin-right: 0;
}
.number input[type=text]  {
  width: 38px;
  /*height: 38px;*/
  padding: 7px 0;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  font-family: inherit;
  text-align: center;
  font-weight: 700;
  vertical-align: top;
  color: #000;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: none;
  outline: none;
}
.incr,
.decr  {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 38px;
  height: 38px;
  /*margin-top: 10px;*/
  padding: 7px 0;
  font-size: 14px;
  line-height:24px;
  background-color: #f2f2f2;
  color: #000;
  cursor: pointer;
  border: none;
  outline: none;
}
.decr  {
  background-image: url("../img/sprite_symbols.png");
  background-position: 1px -29px;
  background-repeat: no-repeat;
  cursor: pointer;
}
.incr  {
  background-image: url("../img/sprite_symbols.png");
  background-position: 1px 2px;
  background-repeat: no-repeat;
  cursor: pointer;
}
.decr:hover  {
  background-image: url("../img/sprite_symbols.png");
  background-position: 1px -153px;
  background-repeat: no-repeat;
  background-color: #ebebeb;
}
.incr:hover  {
  background-image: url("../img/sprite_symbols.png");
  background-position: 1px -122px;
  background-repeat: no-repeat;
  background-color: #ebebeb;
}
.decr:focus  {
  background-image: url("../img/sprite_symbols.png");
  background-position: 0px -93px;
  background-repeat: no-repeat;
  background-color: #fff;
  border: 2px solid #ebebeb;
}
.incr:focus  {
  background-image: url("../img/sprite_symbols.png");
  background-position: 0px -62px;
  background-repeat: no-repeat;
  background-color: #fff;
  border: 2px solid #ebebeb;
}

.btn.search  {
  width: 458px;
  text-decoration: none;
  background: #81b3d2;
  padding: 17px 0;
  margin-top: 54px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  text-align: center;
  display: block;
}
