body  {
  width: 1280px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 21px;
  font-family:"PT Sans", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  background: #f2f2f2;
  color: #000;
}
img  {
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}
.clearfix::after  {
  content: "";
  display: table;
  clear: both;
}
.container  {
  width: 1200px;
  padding: 0 40px;
  background: #fff;
  -webkit-box-shadow: 5px 15px 15px 0 rgba(0,0,0,0.2);
  box-shadow: 5px 15px 15px 0 rgba(0,0,0,0.2);
}
.main-header  {
  background: #fff;
  color: #000;
}
.main-navigation  {
  min-width: 1054px;
  min-height: 56px;
  margin: 0 auto;
  padding: 0 73px;
  vertical-align: top;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.main-navigation ul {
  margin: 0;
  padding: 0;
  font-size: 0;
  list-style: none;
}
.main-navigation li  {
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  display: inline-block;
  padding: 15px 0;
  vertical-align: top;
}
.main-navigation-left li {
  padding-right: 144px;
}
.main-navigation-right li  {
  padding-left: 144px;
}
.main-logo  {
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -67px;
}
.main-navigation a  {
  color: #000;
  text-decoration: none;
}
.main-navigation a:hover  {
  color: #81b3d2;
}
.description  {
  padding: 0 280px;
  margin-top: 60px;
  text-align: center;
}
.description h1 {
  font-size: 21px;
  line-height: 26px;
}
.features  {
  margin-top: 55px;
  text-align: center;
}
.features  h2  {
  margin:0;
  margin-bottom: 26px;
  padding: 0 82px;
}
.features p  {
  margin-top: 25px;
  font-size:14px;
  line-height:21px;
  padding: 0 25px;
}
.features-top-hotel,
.conditions,
.features-bottom-canyon,
.features-bottom-list  {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.features-item  {
  max-width: 320px;
  padding-top: 53px;
  padding-right: 35px;
  padding-left: 45px;
  padding-bottom: 33px;
  line-height: 21px;
  text-align: center;
}
.features-item.blue  {
  background: #81b3d2;
  color: #fff;
}
.features-item.grey  {
  background: #eee;
  color: #000;
}
.conditions  {
  display: flex;
  padding: 60px 0;
}
.conditions h2  {
  font-size: 21px;
  line-height:21px;
  margin: 26px 0;
}
.conditions-item  {
  padding: 0 15px;
  width: 370px;
}
.search-btn  {
  width: 568px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 75px;
  margin-bottom: 0;
  padding: 30px 0;
  font-size: 21px;
  line-height: 26px;
  font-weight:700;
  font-family: inherit;
  text-transform: inherit;
  color: #fff;
  background: #766357;
  border: none;
  cursor: pointer;
}
.location-content  {
  padding-top: 56px;
  padding-left: 315px;
  padding-right: 315px;
  text-align: center;
}
.location b  {
  font-size: 30px;
  line-height: 42px;
}
.location p  {
  font-size: 14px;
  line-height: 24px;
}
.location-map  {
  width: 1200px;
  height: 476px;
}
.main-footer .container {
  width: 1054px;
  padding: 36px 113px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.footer-contacts  {
  width: 328px;
  padding: 11px 0;
}
.footer-contacts span  {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}
.footer-social {
  width: 400px;
}
.social-btn  {
  font-size:0;
  width: 46px;
  height: 48px;
  margin: 0 3px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  background:#76b4da;
}
.social-btn::before  {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
}
.social-btn-tw::before  {
   width: 17px;
   height: 15px;
   background-position: -8px -189px;
 }
.social-btn-fb::before  {
  width: 10px;
  height: 19px;
  background-position: -8px -122px;
}
.social-btn-tube::before  {
  width: 20px;
  height: 16px;
  background-position: -8px -157px;
}
.social-btn-tw:active::before  {
  width: 17px;
  height: 15px;
  background-position: -8px -189px;
  opacity: 0.3;
}
.social-btn-fb:active::before  {
  width: 10px;
  height: 19px;
  background-position: -8px -122px;
  opacity: 0.3;
}
.social-btn-tube:active::before  {
  width: 20px;
  height: 16px;
  background-position: -8px -157px;
  opacity: 0.3;
}
.social-btn-tw:hover  {
  background:#669ec0 ;
}
.social-btn-fb:hover  {
  background:#669ec0 ;
}
.social-btn-tube:hover  {
  background:#669ec0;
}
.social-btn-tw:active  {
  background:#5496bd ;
}
.social-btn-fb:active  {
  background:#5496bd ;
}
.social-btn-tube:active  {
  background:#5496bd;
}
.footer-copyright  {
  width: 328px;
  display: inline-block;
  vertical-align: top;
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
}
.footer-copyright span  {
  display: inline-block;
  font-weight: 400;
  padding: 11px 0;
}
.footer-copyright a  {
  display: inline-block;
  margin-left: 15px;
  padding: 11px 0;
  text-decoration: none;
  color: #000;
}
.footer-copyright a:hover  {
  color: #81b3d2;
}
.footer-copyright a:active  {
  opacity: 0.3;
}
.search-form  {
  position: absolute;
  top: 2320px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 458px;
  padding: 50px 55px;
  color: #000;
  background: #fff;
  -webkit-box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  display: block;
  z-index: 20;
}
.sprite {
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  display: block;
}

.sprite-ico-date-1 {
  width: 21px;
  height: 22px;
  background-position: -8px -8px;
}

.sprite-ico-date-2 {
  width: 21px;
  height: 22px;
  background-position: -8px -46px;
}

.sprite-ico-date-3 {
  width: 21px;
  height: 22px;
  background-position: -8px -84px;
}

.sprite-ico-fb {
  width: 10px;
  height: 19px;
  background-position: -8px -122px;
}

.sprite-ico-tube {
  width: 20px;
  height: 16px;
  background-position: -8px -157px;
}

.sprite-ico-tw {
  width: 17px;
  height: 15px;
  background-position: -8px -189px;
}

