html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
body {
  min-width: 320px;
  font-family: "Open Sans", "Arial", sans-serif ;
  font-size: 14px;
  font-weight: 400;
  color: @darkblue;
  background: @white;
  margin: 0 auto;
  @media @tablet-widths {
    min-width: 700px;
  }
  @media @desktop-widths {
    min-width: 1200px;
  }
}
img  {
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}