@white: #fff;
@grey: #f2f2f2;
@darkblue: #283645;
@rose: #d22856;
@tablet-widths: ~"(min-width: 660px)";
@desktop-widths: ~"(min-width: 1020px)";
@retina: ~"(min-resolution: 144dpi), (min-resolution: 1.5dppx)";